body {
    background-color: #D5E1EF;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Impedisci il restringimento verticale e mantieni il contenuto centrato. */
}

#container {
    width: 80%; /* Utilizza unità relative per la larghezza. */
    max-width: 400px; /* Imposta una larghezza massima per evitare che diventi troppo largo. */
    background-color: white;
    min-height: 45vh;
    border: 1px solid transparent;
    border-radius: 20px;
    overflow: hidden; /* Nascondi il contenuto se si sfora. */
    text-align: center;
}

#content img {
    max-width: 100%; /* Impedisci che l'immagine sfori il contenitore. */
    border-radius: 10px;
    width: 350px;
}

#content{
    margin-top: 20px;
}

#content h2 {
    font-weight: bolder;
    color: hsl(218, 44%, 22%);
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
}

#content p {
    font-size: 16px;
    color: hsl(220, 15%, 55%);
    word-break: normal;
    font-family: 'Outfit', sans-serif;
}

@media screen and (max-width: 414px) {
    #container {
        width: 90%; /* Riduci ulteriormente la larghezza per schermi molto stretti. */
    }

    #content img {
        width: 90%; /* Rendi l'immagine larga al 100% del contenitore. */
    }

    #content h2 {
        font-size: 20px;
    }

    #content p {
        padding-bottom: 20px;
        font-size: 15px;
    }
}
